Repository kevinye7/OutfAI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Update generated supabase structure docs
  docs/supabase-structure.md
Due: prettier --write

Remove extra apps/web package-lock.json
  apps/web/package-lock.json
Due: prettier --write

startup scripts
  .dockerignore
  .env.example
  Dockerfile
  Dockerfile.dev
  docker-compose.prod.yml
  docker-compose.yml
  package.json
  scripts/start.cmd
  scripts/start.ps1
  scripts/start.sh
  scripts/stop.cmd
  scripts/stop.ps1
  scripts/stop.sh
Due: prettier --write

Add GitHub Pages site with presentations and light-mode deck
  README.md
  docs/images/README.md
  docs/images/capstone-progress-update-1/.gitkeep
  docs/images/capstone-progress-update-1/Archive.png
  docs/images/capstone-progress-update-1/CI Pipeline image.png
  docs/images/capstone-progress-update-1/Closet Select.png
  docs/images/capstone-progress-update-1/HomePage.png
  docs/images/capstone-progress-update-1/Image Upload.png
  docs/images/capstone-progress-update-1/Mood Select.png
  docs/index.html
  docs/presentations/capstone-progress-update-1/index.html
Due: prettier --write

presentation
  docs/presentations/capstone-progress-update-1/index.html
Due: prettier --write

chore: add vercel config for monorepo deployment
  .gitignore
  apps/web/vercel.json
Due: prettier --write

test
  .gitignore
Due: none

feat: add shuffle from full recommendation pool
  apps/web/app/page.tsx
Due: prettier --write, eslint --fix

Add live weather display with unit toggle
  .gitignore
  apps/web/app/page.tsx
Due: prettier --write, eslint --fix

fix: remove next-auth/react imports, use direct fetch for sign-in
  apps/web/app/login/page.tsx
  apps/web/components/providers.tsx
  apps/web/next.config.ts
Due: prettier --write, eslint --fix

ci: pin Node 20.19.0 for GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
Due: prettier --write

Replace auth with BetterAuth (username plugin + pg)
  .env.example
  apps/web/app/api/auth/[...all]/route.ts
  apps/web/app/api/auth/login/route.ts
  apps/web/app/api/auth/logout/route.ts
  apps/web/app/login/page.tsx
  apps/web/instrumentation.ts
  apps/web/lib/auth-client.ts
  apps/web/lib/auth.ts
  apps/web/middleware.ts
  apps/web/package-lock.json
  docker-compose.yml
  package.json
  scripts/start.ps1
  scripts/stop.ps1
  scripts/stop.sh
Due: prettier --write, eslint --fix

Update package-lock.json for better-auth, pg, @types/pg
  package-lock.json
Due: prettier --write

Allow short passwords so dev test/test account seeds correctly
  apps/web/lib/auth.ts
Due: prettier --write, eslint --fix

ci: fix format, lint, typecheck, tests, and build
  .github/workflows/ci.yml
  apps/web/app/closet/page.tsx
  apps/web/app/login/page.tsx
  apps/web/app/page.tsx
  apps/web/app/profile/page.tsx
  convex/_generated/api.js
  convex/_generated/server.js
  convex/seed.ts
  docs/convex-schema.md
  eslint.config.mjs
  server/api/routers/recommendations.ts
  server/services/garmentImageAnalysisService.test.ts
  tests/services/outfitRecommendationService.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix: run convex deploy from repo root in Vercel build
  apps/web/vercel.json
Due: prettier --write

Improve and polished login & signup UI
  apps/web/app/login/page.tsx
  apps/web/app/signup/page.tsx
Due: prettier --write, eslint --fix

Update generated DB docs
  docs/convex-schema.md
Due: prettier --write

Ignore generated Convex schema docs in Prettier
  .prettierignore
Due: none

fix(login): pass email and callbackURL directly to sendVerificationEmail
  apps/web/app/login/page.tsx
Due: prettier --write, eslint --fix

docs: add profile and account settings issues (14 issues)
  docs/profile-and-account-settings-issues.md
Due: prettier --write

fix: align header logo
  apps/web/app/add/page.tsx
  apps/web/app/archive/page.tsx
  apps/web/app/closet/page.tsx
  apps/web/app/explain/page.tsx
  apps/web/app/login/page.tsx
  apps/web/app/mood/page.tsx
  apps/web/app/outfit/page.tsx
  apps/web/app/page.tsx
  apps/web/app/profile/page.tsx
  apps/web/app/signup/page.tsx
Due: prettier --write, eslint --fix

feat: add profile-based and behavior-based style preferences to outfit engine
  apps/web/app/api/recommendations/route.ts
  apps/web/app/profile/page.tsx
  apps/web/components/outfit-recommendation-panel.tsx
  apps/web/hooks/use-outfit-recommendations.ts
  convex/schema.ts
  convex/userPreferences.ts
  server/services/outfitRecommendationService.ts
  shared/types/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.{json,md,yml,yaml,css,html})
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
